.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #141d2f;
  height: 100vh;
  row-gap: 20px;
  padding-top: 125px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 550px;
}

h4 {
  display: flex;
}