img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-container {
  width: 550px;
  display: flex;
  align-items: stretch;
  background-color: #1e2a47;
  border-radius: 10px;
  padding-top: 20px;
}

.profile-picture {
  display: flex;
  justify-content: center;
  flex: 1;
}

.profile-info {
  flex: 2;
}
