/* .user-stats {
  display: flex;
  flex-direction: column;
}

.user-stats-header {
  display: flex;
  justify-content: space-around;
}

.user-stats-data {
  display: flex;
  justify-content: space-around;
} */

.user-stats {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  background-color: #141d2f;
  margin-right: 30px;
}


