.name-date {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.name-date > p {
  display: flex;
  align-items: center;
}

p.name {
  display: flex;
  font-size: 175%;
  margin-bottom: 0px;
}

p.date {
  display: flex;
  margin-bottom: 0px;
  margin-right: 30px;

}

a.username {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #0079ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.bio > p {
  margin-top: 10px;
  margin-bottom: 30px;
}
