.name-date {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.name-date > p {
  display: flex;
  align-items: flex-end;
  margin-right: 30px;
}

p.name {
  display: flex;
  font-size: 200%;
  margin-bottom: 0px;
}

p.date {
  display: flex;
  margin-bottom: 0px;
}

a.username {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #0079ff;
}

.bio > p {
  margin-bottom: 20px;
}
